body{
  margin : 0;
  padding: 0;
}
.container{
  display: flex;
}

h1{
  margin-left:13%;
}

.col-1{
  width: 60%;
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.sel{
  text-align: left;
  padding-top: 10px;
  padding-left:60px ;
}
.col-2{
  /* border: 1px solid lightcoral; */
  width: 40%;
  padding: 10px;
}
.form{  
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  padding:50px 10px;
  text-align: center;
  /* border: 1px solid black; */
  width: 400px;
  margin: 100px auto;
}
input{
  width : 64%;
  padding: 10px;
  margin : 10px 0px;
}
.sel{
  margin: 0;
  
}
.options button{
  background-color: white;
  border: 1px solid black;
  width  : 90px;
  padding: 10px;
  margin:0;
}
.submit-btn{
  border: none;
  margin-top: 10px;
  width : 70%;
  padding: 10px;
  background-color:rgb(13, 184, 144);
  color: white;
  font-size: large;
}
