body{
  padding: 0;
  margin: 0;
  background: rgb(66, 163, 222);
}

.container{
  padding : 100px 20px;
  width : 700px;
  margin: 10% auto;
  background-color: white;
  text-align: center;
  border-radius: 15px;
}
 input{
   width: 175px;
   padding: 5px;
   margin: 20px 5px;
   border-color: rgb(213, 207, 207);
   border-style: none none solid none;
 }

button{
  border: none;
  font-size: 16px;
  background-color: rgb(252, 55, 104);
  color: white;
  margin-top: 20px;
  padding: 5px;
  width : 200px;
  border-radius: 20px;
}

.pi,.ui{
  padding-bottom: 5px;
  vertical-align: middle;
}

